$container-width: 1300px;
$green: rgb(81, 255, 0);
$card-border: 1px solid rgb(81, 255, 0);
$table-row-hover-bgc: rgba(38, 255, 0, 0.1);
$component-bg-gradient: linear-gradient(to bottom, #33ccff00 0%, #000000 70%);
