.characters {
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0 0 100px;
  min-height: 70vh;
  // background: $component-bg-gradient;
}

.characters_holder {
  display: flex;
  flex-wrap: wrap;
}

.characters_title {
  display: block;
  margin: 20px 0 20px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
