* {
  color: white;
}

.episodes {
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0 0 120px;
  height: 100%;
  background: linear-gradient(to bottom, #33ccff00 0%, #000000 70%);
}

.episodes_holder {
  display: flex;
  flex-wrap: wrap;
}

.episodes_title {
  display: block;
  margin: 20px 0 20px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.episodes_tableHeader {
  display: flex;
  align-items: center;
  list-style: none;
  width: 600px;
  height: 50px;
  background-color: rgba(38, 255, 0, 0.6);
  border-radius: 20px;
  margin: 0 0 10px;
}

.episodes_item {
  &:first-child {
    width: 100px;
  }

  &:nth-child(2) {
    width: 300px;
  }

  &:nth-child(3) {
    width: 200px;
  }

  &:nth-child(4) {
    width: 200px;
  }
}

.pagination {
  position: absolute;
  left: 50%;
}
