@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.header {
  width: 100%;
  padding: 15px 0;

  @include df(space-between, center);

  &_nav {
    margin: 0;
    width: 650px;
    display: flex;
    align-items: center;
  }

  &_list {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    @include df(space-between, center);
  }

  &_item {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;

    & a {
      text-decoration: none;
    }
  }
}

.logo {
  margin: 0;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;

  &_img {
    width: 100%;
    height: auto;
  }
}

.container_header {
  width: $container-width;
  margin: 0 auto;

  @include df(space-between, center);
}

.active_link {
  color: rgb(38, 255, 0);
  transition: 0.3s linear;
}
