@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.locations {
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0 0 120px;
  min-height: 850px;
  background: $component-bg-gradient;

  &_title {
    display: block;
    margin: 20px 0 20px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  &_search {
    @include df(space-between, center);
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &_searchTitle {
    font-size: 20px;
  }

  &_searchBlock {
    min-width: 800px;
    @include df(space-between, center);
  }

  &_searchForm {
    min-width: 200px;
    min-height: 40px;
    padding: 5px 10px;
    margin: 0 auto;
    outline: none;
    font-size: 17px;
    background-color: transparent;
    border: $card-border;
    border-radius: 15px;
  }
}

table {
  width: 800px;
  margin: 0 auto;
  border-collapse: collapse;

  thead {
    width: 100%;
    background-color: rgba(38, 255, 0, 0.6);
    line-height: 40px;
  }
}

.table_row {
  height: 40px;
  &:hover {
    background-color: $table-row-hover-bgc;
  }

  &_item {
    &:first-child {
      width: 60px;
    }

    &:nth-child(2) {
      width: 400px;
    }
    text-align: center;
    cursor: pointer;
  }
}
