@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.character {
  min-width: 105px;
  max-width: 110px;
  min-height: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  border: $card-border;
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    background-color: rgb(43, 43, 43);
    background-color: rgba(38, 255, 0, 0.4);
  }

  &_img {
    width: 100%;
    height: auto;
    border: $card-border;
    border-radius: 5px;
  }

  &_name {
    min-height: 40px;
    width: 100%;
    padding: 0;
    margin: 10px 0 0;
    text-align: center;
    font-size: 13px;

    @include df(center, center);
  }
}
